main {
    max-width: 1000px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.5em;
}

.comic {
    width: 100%;
    display: none;
}

.comic .comic-img {
    width: 100%;
    margin-bottom: 0px;
    display: block;
}

.comic-img-description {
    background-color: rgb(110, 110, 110);
    line-height: 1.5em;
    color: white;
    font-size: 1.2em;
}
.comic-img-description p {
    padding: 10px;
}
.comic-img-description b {
    font-weight: bold;
}
.comic-img-title {
    border-bottom: 1px dashed black;
}