main {
    max-width: 1000px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    font-size: 1.2em;
    line-height: 1.5em;
}
main h2 {
    font-size: 2em;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 20px;
}
main p {
    text-align: justify;
}
.block {
    padding: 20px;
    display: flex;
    flex-direction: row;
    background-color: rgb(245, 245, 245);
    gap: 20px;
}
.block.competitive .photo {
    display: flex;
    flex-direction: column;
}
.block.competitive .photo .desc {
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: .8em;
    background-color: rgb(110, 110, 110);
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.block.competitive img {
    display: block;
    width: 300px;
}
.text-link {
    color: rgb(40, 40, 214);
}
.text-link:hover {
    cursor: pointer;
    color: rgb(0, 0, 255)
}
.cf-link {
    color: #ff8c00;
    font-weight: bold;
    cursor: pointer;
}